<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <form @submit.prevent="submitForm()">
        <input type="text" placeholder="Masukkan Nama" v-model:value="newTask"/>
        <input type="submit" v-model:value="status">
    </form>
    <p v-for="item in users">
        {{item.name}} || <button  @click = "Update(item.name)">Edit</button> || <button  @click = "Delete(item.name)">Delete</button>
    </p>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : "#app",
            data : {
                status : 'add',
                newTask: "",
                edit: "",
                users :[
                    {'name' : 'Muhammad Iqbal Mubarok'},
                    {'name' : 'Ruby Purwanti'},
                    {'name' : 'Faqih Muhammad'}
                ]
            },
            methods : {
                submitForm : function(){
                    if(this.status=='add'){
                    this.users.push({'name': this.newTask});
                    this.newTask = "";
                    this.status = 'add'
                    }else if(this.status=='update'){
                        var index = this.users.map(function(x) {return x.name; }).indexOf(this.edit); 
                            if (index > -1) {
                                this.users.splice(index, 1);
                                this.users.splice(index, 0,{'name': this.newTask});
                            }
                        this.newTask = "";
                        this.edit ="";
                        this.status = 'add'
                    }
                },
                seeAll : function(){
                    for(i=0;i<this.users.length;i++){
                        return this.users[i]
                    }
                },
                Update : function(name){
                    this.newTask = name
                    this.edit = name
                    this.status = 'update'
                },
                Delete : function(array){

                    var index = this.users.map(function(x) {return x.name; }).indexOf(array); 
                        if (index > -1) {
                            this.users.splice(index, 1);
                        }
                    return this.users;
      
                }
            }
        })
    </script>
</body>
</html>
