<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <p v-for="(item,idx) in message">
                <br>
                <button @click = "addLike(idx)">+</button>
                <br>
                {{ item.komentar }} || {{item.date}} || Like : {{item.like}}
                <br>
                <button @click = "unLike(idx)">-</button>
                <br>
        </ul>
        <textarea type="text" placeholder="tambah komentar" v-model:value="newComment" @keyup.enter.exact="submitComment($event)"></textarea>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var vm = new Vue({
            el: '#app',
            data : {
                newComment: "",
                message: [
                        {komentar: "Komentar 1", date : "27/02/2020", like : 0},
                        {komentar: "Komentar 2", date : "27/02/2020", like : 5},
                        {komentar: "Komentar 3", date : "27/02/2020", like : 5},
                ],
                liked : [false,false,false],
                unliked : [false,false,false]
            },
            methods : {
                submitComment: function(){
                    this.message.push({'komentar': this.newComment, date : "27/02/2020",like : 0});
                    this.liked.push(false);
                    this.unliked.push(false);
                    this.newComment = "";
                },
                addLike:function(idx){
                    if(this.liked[idx] == false && this.unliked[idx] == false){
                        this.message[idx].like = this.message[idx].like + 1;
                        this.liked[idx] = true;
                    }else if(this.liked[idx] == true && this.unliked[idx] == false){
                        this.message[idx].like = this.message[idx].like - 1;
                        this.liked[idx] = false;
                    }else if(this.liked[idx] == false && this.unliked[idx] == true){
                        this.message[idx].like = this.message[idx].like + 2;
                        this.liked[idx] = true;
                    }else if(this.liked[idx] == true && this.unliked[idx] == true){
                        this.unliked[idx] = false;
                        this.liked[idx] = false;
                        this.message[idx].like = this.message[idx].like - 1;
                    }
                },
                unLike:function(idx){
                    if(this.unliked[idx] == false && this.liked[idx] == false){
                        this.message[idx].like = this.message[idx].like - 1;
                        this.unliked[idx] = true;
                    }else if(this.unliked[idx] == true && this.liked[idx] == false){
                        this.message[idx].like = this.message[idx].like + 1;
                        this.unliked[idx] = false;
                    }else if(this.unliked[idx] == false && this.liked[idx] == true){
                        this.message[idx].like = this.message[idx].like - 2;
                        this.unliked[idx] = true;
                    }else if(this.unliked[idx] == true && this.liked[idx] == true){
                        this.unliked[idx] = false;
                        this.liked[idx] = false;
                        this.message[idx].like = this.message[idx].like + 1;
                    }

                }
            }
    })
</script>
</body>
</html>
