<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
        border: 1px solid #FFFFFF; 
        padding: 5px;
        width: 225px;
        background: #efefef;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option{
            min-width: 200px;
        }

    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="$store.state.errors.length">
                <b>Tolong ikuti aturan</b>
                <ul>
                    <li v-for="error in $store.state.errors">{{error}}</li>
                </ul>
            </p>
            <label>Name : {{ $store.state.name }}</label>
            <input type="text" :disabled="$store.state.buttonStatus== 'upload'" name="name" ref="name" v-model="$store.state.name">
            <label>address : {{  $store.state.address }}</label>
            <textarea name="address" :disabled="$store.state.buttonStatus== 'upload'" ref="address" v-model="$store.state.address"></textarea>
            <label>No. HP : {{  $store.state.no_hp }}</label>
            <input type="text" :disabled="$store.state.buttonStatus== 'upload'" name="no_hp" ref="no_hp" v-model="$store.state.no_hp">
            <br>
            <div v-if="$store.state.buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="$store.state.buttonStatus == 'update'">
                <input type="button" @click="updateMember($store.state.idEditMember)" value="UPDATE">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
            <div v-else-if="$store.state.buttonStatus == 'upload'">
                <input type="file"name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto($store.state.idUploadMember)" style="margin-top: 5px; margin-bottom: 5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>

        </form>
        <br><br>
        <member-component
        v-for="member in $store.state.members" 
        :member="member"
        ></member-component>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
        import {MembersComponent} from './MembersComponent.js'
        const store = new Vuex.Store({
            state:{
                name : '',
                address : '',
                no_hp : '',
                errors : [],
                members : [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com',
                buttonStatus : 'submit',
                idEditMember : null,
                idUploadMember : null
            },
            mutations:{
                getmembers(state){
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then( (response)=>{
                        state.members = response.data.members
                    })
                    .catch( (error)=>{
                        console.log(error)
                    })
                },
                clearform(state){
                    state.name = '',
                    state.address = '',
                    state.no_hp = ''
                },
                validationform(state){
                    state.error = []
                
                if(state.name.length < 5){
                    state.errors.push('Nama minimal 5')
                    state.$refs.name.focus()
                } 
                if(state.address.length > 30){
                    state.errors.push('deskripsi kepanjangan')
                    state.$refs.descripton.focus()
                }
                if(state.no_hp.length < 5){
                    state.errors.push('Nomor HP Minimal 5')
                    state.$refs.descripton.focus()
                }
                },
                submitform(state){
                    if(state.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', state.name)
                        formData.append('address', state.address)
                        formData.append('no_hp', state.no_hp)
                        const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData
                    }
                    axios(config)
                    .then( (response)=>{
                        this.commit("Clearform")
                        this.commit("getmembers")
                        alert(response.data.message)
                        console.log(response.data)

                    })
                    .catch( (error)=>{
                        console.log(error)
                    })
                }
                },
                removemember(state, id){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "DELETE"}
                    }
                    axios(config)
                    .then( (response)=>{
                        this.$store.commit("getmembers")
                        alert(response.data.message)
                        console.log(response)
                    })
                    .catch( ()=>{
                        this.commit("getmembers")
                        console.log(error)
                    })
                    alert('berhasil')
                    // console.log(id)
                },
                editmember(state, member){
                    alert('berhasil')
                    state.name = member.name
                    state.address = member.address
                    state.no_hp = member.no_hp
                    state.buttonStatus = 'update'
                    state.idEditMember = member.id
                },
                updatemember(state,id){
                if(state.errors.length === 0){
                    let formData = new FormData()
                    formData.append('name', state.name)
                    formData.append('address', state.address)
                    formData.append('no_hp', state.no_hp)

                    let config = {
                        method : 'post',
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : 'PUT'},
                        data : formData
                    }
                    axios(config)
                    .then( (response)=>{
                        this.commit("Clearform")
                        this.commit("getmembers")
                        alert(response.data.message)
                    })
                    .catch( (error)=>{
                        console.log(error)
                    })
                }
                },
                uploadphoto(state, member){
                    state.name = member.name
                    state.address = member.address
                    state.no_hp = member.no_hp
                    state.buttonStatus = 'upload'
                    state.idUploadMember = member.id
                },
                submitphoto(state, {id, file}){
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method : 'post',
                            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                            data : formData
                    }

                    axios(config)
                    .then( (response)=>{
                        this.commit.clearform()
                        this.commit.getmembers()
                        alert(response.data.message)
                    })
                    .catch( (error)=>{
                        console.log(error)
                    })
                }
            },
            actions:{

            }
        })

        var vm = new Vue({
            el:'#app',
            store,
            components : {
                'member-component' : MembersComponent
            },
            data:{
                
            },
            methods:{
                getMembers : function(){
                    this.$store.commit("getmembers")  
                },
                clearForm : function(){
                    this.$store.commit("clearform")
                },
                validationForm : function(){
                    this.$store.commit("validationform")
                },
                submitForm : function(){
                    this.$store.commit("submitform")
                },
                removeMember : function(id){
                    this.$store.commit("removemember", id)
                },
                editMember: function(member){
                    console.log(blog)
                },
                updateMember: function(id){
                    this.$store.commit("validationform")
                    this.$store.commit("updatemember",id)
                },
                uploadPhoto : function(member){
                    this.$store.commit("uploadphoto",member)
                },
                submitPhoto : function(id){
                    let file = this.$refs.photo.files[0]
                    this.$store.commit("submitphoto",{id, file})
                    // console.log(id)
                }
            },
            created(){
                this.getMembers()
            }
        })
    </script>
</body>
</html>
